*{
	margin: 0px;
	padding: 0px;
}


body{
	background: url(../img/forms_processing.jpg) center no-repeat;
	background-attachment: fixed;


}
#cabecalho {
	width:100%;
	height: 70px;
	top:0;
	background: rgba(255,255,255,0.5);
}

.botao {
	width: 100px;
	height: 40px;
	border: none;
	background:#0066ff;
	color: #ffffff;
	font-size: 15px;
	border-radius: 6px;
	font-size: 16px;
	float: right;
	margin: 15px 30px 0px 0px;
}

.botao:hover{
	background:#0047b3;
}
.container {
	background: #ffffff;
	width: 800px;
	margin: 30px auto 0px auto;
	border:1px solid #bfbfbf;

}
.opcoes {
	width: 200px;
	margin: 0 auto;
	padding: 14px 0px 18px 0px;

}

.opcoes a{
	padding: 10px;
	font-size: 18px;
}

.area {
	border-bottom: 1px solid #bfbfbf;

}

.titulo {
	margin:40px 40px 0px 70px; 
}

.titulo input[type=text]{
	border:none;
	border-bottom: 1px solid #bfbfbf;
	height: 40px;
}

.questoes {
	margin:40px 40px 0px 70px; 
}

.questoes input[type=text]{
	border:none;
	border-bottom: 1px solid #bfbfbf;
	height: 40px;
	font-size: 18px;
}

.questoes select{
	height: 40px;
	border-radius: 6px;
	background: #f2f2f2;
	border: none;
}

.titulo input[name=titulo]{
	font-size: 22px;
	width: 93%;
	border: none;
}


.titulo input[name=descricao]{
	width: 93%;
	border: none;
}

.questoes input[name=pergunta]{
	border:none;
	width: 60%;
}

select {
	width: 25%;
	margin-left: 54px;
	font-size: 15px;
}

.resposta input[name=resposta]{
	width: 93%;
}

.resposta input[type=text]{
	border:none;
	height: 40px;
	width: 40%;

}

.resposta {
	padding-bottom: 10px;
	margin:0px 0px 0px 70px; 
}

.menu {
	width: 90%;
	border-top: 1px solid #bfbfbf;
	margin: 0px 0px 10px 70px;
}

.barra-inferior{
	width: 91.6%;
	border-top: 1px solid #bfbfbf;
	height: 50px;
	margin-left: 69px;
	display: table;
}


.area-obrigatorio{
	width: 170px;
	border-left: solid 1px #bfbfbf;
	margin:10px 20px 0px 0px;
	height: 30px;
	float: right;

}

.area-obrigatorio input[type=checkbox]{
	margin: 8px 0px 0px 10px;
}

.obrigatorio{
	margin-left: 10px;
	font-size: 14px;
}

.area-botoes {
	width: 100px;
	height: 50px;
	float: right;
}

.dublicar {
	width: 35px;
	height: 35px;
	padding-bottom: 5px;
}

.excluir {
	width: 50px;
	height: 50px;
}

.posicao-opcoes{
	height: auto;
}